<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
  <%if current_user == nil%>
    <h1 class="display-3">Welcome!</h1>
    <p>Parking Spot is for UTRGV students, staff, teachers, and anyone else in need of a spot near campus.
        If you have unused parking spots for students, this is correct place to turn them into a passive stream of income with flexible pricing.
        Sign up is free!</p>
    <p><a class="btn btn-primary btn-lg" href="/sign_up" role="button">Sign up &raquo;</a>
    <a class="btn btn-outline-primary btn-lg" href="/login" role="button">Already have an account? Log in here &raquo;</a></p>
  <%else%>
   <h1 class="display-3">Welcome Back!</h1>
    <p>Parking Spot is for UTRGV students, staff, teachers, and anyone else in need of a spot near campus.
        If you have unused parking spots for students, this is correct place to turn them into a passive stream of income with flexible pricing.
        Sign up is free!</p>
  <%end%>
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <h2>Manage your spots!</h2>
      <p>Already a user and need to manage your spots? Click below to see them all!</p>
      <p><a class="btn btn-secondary" href="/parking/dashboard" role="button">View details &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>Finished with class?</h2>
      <p>Aced your exam and ready to go home? Follow the button below to release your spot so another student can get to class on time!</p>
      <p><a class="btn btn-secondary" href="/parking/rented" role="button">View details &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>Got a spot?</h2>
      <p>If you have parking spots near UTRGV and want to make some income off of them, this is the right place! Create listings and set a price of your choosing!</p>
      <p><a class="btn btn-secondary" href="/parking/new" role="button">View details &raquo;</a></p>
    </div>
  </div>

  <hr>

</div> <!-- /container -->