<h1>Making new</h1>


<form action="/parking/create" method="post">
  <label for="">Enter Location</label><br>
  <textarea name="location"></textarea><br>
  <label>Number of lots available</label><br>
  <input type="text" name="amount" /><br>
  <label>cost per lot</label><br>
  <input type="text" name="cost"/><br>
  <input type="submit">
</form>
