<h2> Parking rented by you </h2>

<% if current_user.is_renting_spot? %>
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><%= current_user.get_renting_spot.location %></h5>
      <h6 class="card-subtitle mb-2 text-muted">$<%= current_user.get_renting_spot.cost_per_lot %></h6>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="/parking/<%= current_user.get_renting_spot.id %>/release" class="card-link">Release</a>
    </div>
  </div>
<% else %>
  <h4>You currently aren't renting a spot</h4>
  <h6><a href="/parking">Look for a spot here</a></h6>
<% end %>
